<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}", name: "Aggit!" %></h2>
  <p class="lead">
    <strong>Aggit</strong> is an Elixir + Phoenix AggPubSub service application that can be configured to pull content from multiple feeds (Agg-regation) and tag content according to defined filter rules, and then make it available for consumption by feed readers, REST clients, and websocket clients (PubSub).
  </p>
</div>
